.jumbotron{
    border-radius:0px!important;
    box-shadow:1px 1px 4px rgba(0,0,0,0);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://static.pexels.com/photos/316466/pexels-photo-316466.jpeg);
    position: relative;
    height: 100%;
    margin-top: 100px;
}

.jumbotron .btn{
    box-shadow:1px 1px 4px rgba(0,0,0,0);
    padding:10px 40px;
}

#btn-learn-more {
  background-color: #4ba2f2;
  border-color: #4ba2f2;
  color: #fff;
  cursor: pointer;
}
