.gaamit-loading {
  animation: loading-spin infinite 1s linear;
  height: 40px;
  margin-top: 256px;
}

@keyframes loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
