#gaamit-navbar {
  background-color: #333;
}

#gaamit-search {
  max-height: 32px;
  border-radius: 20px;
}

.form-control:focus {
  border-color: #fff;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.4);
}

#gaamit-btn-search {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  cursor: pointer;
}
