.img-gaamit-network {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.btn-gaamit-follow {
  background-color: #4ba2f2;
  border-color: #4ba2f2;
  color: #fff;
  cursor: pointer;
  height: 40%;
}

.gaamit-network-text {
  text-align: left;
}
